{% extends "SQAM_App/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
        <h1 class="display-4">Create New Markus Job</h1>
        <form method="post" enctype="multipart/form-data" novalidate>
            <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
  </div>
{% endblock content %}


