.vscode
.env
node_modules
__pycache__
downloads/*
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
automarker/SQAM/Demo/group_0000/report.txt
automarker/SQAM/Demo/group_0000/result.json
automarker/SQAM/Demo/group_0001/report.txt
automarker/SQAM/Demo/group_0001/result.json
automarker/SQAM/Demo/group_0002/report.txt
automarker/SQAM/Demo/group_0002/result.json
automarker/SQAM/Demo/group_0003/report.txt
automarker/SQAM/Demo/group_0003/result.json
automarker/SQAM/Demo/group_0004/report.txt
automarker/SQAM/Demo/group_0004/result.json
automarker/SQAM/Demo/aggregated.json
automarker/SQAM/Demo/report.txt
automarker/SQAM/Demo_Postgres/Submissions/*/report.txt
automarker/SQAM/Demo_Postgres/Submissions/*/result.json
automarker/SQAM/Demo_Postgres/*/aggregated.json
automarker/SQAM/Demo_Postgres/SUbmissions/report.txt
